{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  The following project was created by Thomas Coll (under the expert supervison of Hisain Elshaafi). <br>
  The project was developed in order to satisfy the Fourth Year project as part of my Software Development course. <br>
  The aim of GARDA is to provide a security focused smart home gateway, using modern technologies such as OSGi and ABAC to create a smart and useful system for users in the future.<br>
</div>
{% endblock %}
{% block footer %}
<div class="footer">
    <span class="text-muted">&copy 2018 GARDA</span>
</div>
{% endblock %}