{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>Change Preferences</h2>
</div>
<div class="container">
  <!-- TODO: Communicate with the smart home, get the list of preferences and place them in a readable way -->
    Your current preferences are:
    <form action="/send_request_policies" method="POST">
        {% if action == "add" %}
            <input type="hidden" name="choice" value="add">
            Add New User: <br>
            Username <input type="text" name="name"><br>
            Resource <select name="policy">
                        <option value="items"> Devices </option>
                        <option value="policies"> Policies </option>
                        <option value="analytics"> Analytics </option>
                        </select>
            Action <select name="action">
                        <option value="add"> Add </option>
                        <option value="edit"> Edit </option>
                        <option value="del"> Delete </option>
                    </select>
        {% elif action == "edit" %}
            <input type="hidden" name="choice" value="edit">
            Select the policy you want to edit:
            <select name="policy">
                {% for p in policy %}
                    <option value="{{ p }}">  {{ p }} </option>
                {% endfor %}
            </select>
            Edit User: <br>
            Username <input type="text"  name="name"><br>
            Resource <select name="resource">
                        <option value="items"> Devices </option>
                        <option value="policies"> Policies </option>
                        <option value="analytics"> Analytics </option>
                        </select>
            Action <select name="action">
                        <option value="add"> Add </option>
                        <option value="edit"> Edit </option>
                        <option value="del"> Delete </option>
                    </select>
        {% elif action == "del" %}
            <input type="hidden" name="choice" value="del">
            Select the policy you want to delete:
            <select name="policy">
                {% for p in policy %}
                    <option value="{{ p }}">  {{ p }} </option>
                {% endfor %}
            </select>
        {% endif %}

       <br> <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
{% block footer %}
<div id="bottom-footer">
    <span class="text-muted">&copy 2018 GARDA</span>
</div>
{% endblock %}