{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h1 class="my-0 mr-md-auto font-weight-normal">GARDA WebApp</h1>
  <a class="p-2 text-dark" href="{{ url_for('index') }}">Home</a>
  <a class="p-2 text-dark" href="https://github.com/ThomasColl/GARDA" target="_blank">Source Code</a>
  <a class="p-2 text-dark" href="{{ url_for('about') }}">About</a>
</nav>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>Change Preferences</h2>
</div>
<div class="container">
  <!-- TODO: Communicate with the smart home, get the list of preferences and place them in a readable way -->
    Your current preferences are:
    <form action="/sendPreferences" method="POST">
        {% if action == "add" %}
            <input type="hidden" name="action" value="add">
            Add New User: <br>
            Username <input type="text" name="name"><br>
            Resource <select name="policy">
                        <option value="items"> Devices </option>
                        <option value="policies"> Policies </option>
                        <option value="analytics"> Analytics </option>
                        </select>
            Action <select name="action">
                        <option value="add"> Add </option>
                        <option value="edit"> Edit </option>
                        <option value="del"> Delete </option>
                    </select>
        {% elif response != "edit" %}
            <input type="hidden" name="action" value="edit">
            Select the policy you want to edit:
            <select name="policy">
                {% for p in policy %}
                    <option value="{{ p }}">  {{ p }} </option>
                {% endfor %}
            </select>
            Edit User: <br>
            Username <input type="text"  name="name"><br>
            Resource <select name="resource">
                        <option value="items"> Devices </option>
                        <option value="policies"> Policies </option>
                        <option value="analytics"> Analytics </option>
                        </select>
            Action <select name="action">
                        <option value="add"> Add </option>
                        <option value="edit"> Edit </option>
                        <option value="del"> Delete </option>
                    </select>
        {% elif response != "del" %}
            <input type="hidden" name="action" value="edit">
            Select the policy you want to delete:
            <select name="policy">
                {% for p in policy %}
                    <option value="{{ p }}">  {{ p }} </option>
                {% endfor %}
            </select>
        {% endif %}
{#        Add New User: <input type="text" name="user"><br>#}
{#        Block Device: <select name="devices">#}
{#                        <option value="Samsung Smart TV">Samsung Smart TV</option>#}
{#                        <option value="Amazon Alexa">Amazon Alexa</option>#}
{#                      </select> <br>#}
{#        Rest Time: Starts: <select name="restTimeStart">#}
{#                        {% for x in range(24) %}#}
{#                            <option value="{{ x }}">{{ x }}</option>#}
{#                        {% endfor %}#}
{#                      </select>#}
{#                    Ends: <select name="restTimeEnd">#}
{#                        {% for x in range(24) %}#}
{#                            <option value="{{ x }}">{{ x }}</option>#}
{#                        {% endfor %}#}
{#                        </select>#}
       <br> <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}
{% block footer %}
<div id="bottom-footer">
    <span class="text-muted">&copy 2018 GARDA</span>
</div>
{% endblock %}