<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="{{ url_for('static', filename='garda.png') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='garda.png') }}" type="image/x-icon">
        <title>{% block title %}{% endblock %} - ABRA</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
    </head>
    <body>
        <section>
            <div class="content">
                <nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
                  <h1 class="my-0 mr-md-auto font-weight-normal">GARDA WebApp</h1>
                  <a class="p-2 text-dark" href="{{ url_for('index') }}">Home</a>
                  <a class="p-2 text-dark" href="https://github.com/ThomasColl/GARDA" target="_blank">Source Code</a>
                  <a class="p-2 text-dark" href="{{ url_for('about') }}">About</a>
                 <a class="p-2 text-dark" href="{{ url_for('send_feedback') }}">Send Feedback</a>
                </nav>
                {% block content %}
                {% endblock %}
            </div>
        </section>
        <!-- Bootstrap core JavaScript -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <script src="{{ url_for('static', filename='addTheme.js') }}"></script>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>