{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>Homepage</h2>
</div>
<div class="container">
  <h3>Welcome</h3>
    Welcome to GARDA, the app protecting your smarthome.
    <br><br>

    Select your Options

    <br><br>

  <center>
    <a href="{{ url_for('items') }}"><img src="static/items.jpg", alt="Object", width="20%", height="20%", style="margin:5%"></a>
    <a href="{{ url_for('preferences') }}"><img src="static/settings.png", alt="Settings", width="20%", height="20%", style="margin:5%"></a>
    <a href="{{ url_for('analytics') }}"><img src="static/analytics.jpg", alt="Analytics", width="20%", height="20%", style="margin:5%"></a>
  </center>
</div>
{% endblock %}
{% block footer %}
<div id="bottom-footer">
    <span class="text-muted">&copy 2018 GARDA</span>
</div>
{% endblock %}