{% extends "base.html" %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2>{{name}}</h2>
</div>
<div class="container">
  The following options are available:
    <center>
        <form action="/send_request_items" method="POST">
        {% if type == "Switch" %}
        <!-- TODO Add in JEMMA feature here, communicate with the network and use JEMMA to get back the object changes -->
            {% for option in options %}
                <input type="radio" name="action" value="{{option}}"> {{option}} <br>
            {% endfor %}
        {% elif type == "String" %}
            New Value: <input type="text" name="action" required><br>
        {% endif %}
            <input type="submit" value="Select">
        </form>
    </center>
</div>
{% endblock %}
{% block footer %}
<div id="bottom-footer">
    <span class="text-muted">&copy 2018 GARDA</span>
</div>
{% endblock %}